.descr-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.descr-left {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  justify-content: center;
  align-items: left;
  gap: 0;
}

.descr-img {
  width: 250px;
  height: auto;
  border-radius: 16px;
}

.descr-h1 {
  margin: 0;
}

.descr-h2 {
  margin: 0;
}

.descr-p {
  margin: 0;
  width: 300px;
  margin-bottom: 50px;
}

.descr-right {
  position: relative;
}

.img1 {
  position: absolute;
  top: 40%;
  left: 40%;
}
