.nav {
  margin: 10px;
  display: flex;
}

.hamburger-icon {
  display: none;
}

.menu {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

@media (max-width: 860px) {
  .menu {
    display: none;
  }

  .hamburger-icon {
    display: flex;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    align-items: center;
    top: 32px;
    left: 0px;
    background-color: white;
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 25px;
    gap: 15px;
  }
}
