@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 80px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  font-family: "Karla", sans-serif;
}

li {
  list-style: none;
}


@media (max-width: 860px) {
  body {
    margin: 0 40px;  
  }
}

@media (max-width: 460px) {
  body {
    margin: 0 0;  
  }
}